.indexbody {
  background-color: #FFF089;
}

.okonmabody {
  background-color: #74D3BB;
}

.musicbody {
  background-color: #D374B8;
}

.fashionbody {
  background-color: #C6C89B;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.fashionp, .indexp {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.indexp {
  margin-left: 0;
  padding-left: 0;
  padding-top: 4%;
}

.fashionp {
  margin-left: 0;
  padding-left: 0;
  padding-top: 80px;
}

/* body */
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* navbar*/
nav {
  text-align: center;
}

.bg-light {
  --bs-bg-opacity: 0;
}

.navbar-collapse {
  justify-content: center;
}

a {
  width: 10%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* texto */
main {
  text-align: center;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.pmerch {
  text-align: center;
}

.tylerp {
  padding-top: 250px;
}

.indexpmobile {
  padding-top: 2%;
  text-align: center;
}

.tylerpmobile {
  padding-top: 2%;
  text-align: center;
}

.fashionpmobile {
  padding-top: 2%;
  text-align: center;
}

/* footer */
footer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  font-size: 0.9em;
}

audio {
  margin-top: 6%;
}

/* Configuracion para resolucion mobile */
.mobile {
  display: none;
}

@media (max-width: 1203px) {
  .mobile {
    display: block;
  }
  .dekstop {
    display: none;
  }
}
/* transicion para seccion music */
audio {
  transition: all 0.3s ease-in-out;
}

audio:hover {
  transform: scale(1.5);
}

img {
  width: 100%;
}

/* Products */

.products ul {
  list-style: none;
  padding: 0;
  margin: 0 100px;
}

.products ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  border: 1px solid #ccc;
  background-color: transparent;
}

.products ul li img {
  width: 50px;
}

.products ul li p {
  margin: 10px 0;
}